aiosqlite==0.16.0
aiostream==0.4.3
aiofiles==0.6.0
redis==3.5.3

# BMT + dependencies
bmt-lite-2.1.0==2.1.1

httpx==0.18.2
numpy==1.20.3
pyyaml==5.4
uvicorn==0.13.4
jsonpickle==1.4.2
python-dotenv==0.17.0
fastapi==0.65.2
reasoner-pydantic==1.1.2.1
trapi-throttle @ git+git://github.com/ranking-agent/trapi-throttle@v1.2.0
orjson==3.6.0
