aiostream==0.6.1

# BMT + dependencies
bmt-lite-v3.1.0==2.2.2

httpx==0.27.0
pyyaml==6.0.1
uvicorn[standard]==0.29.0
fastapi==0.111.0
reasoner-pydantic==5.0.6
redis==5.0.6
orjson==3.10.3
gunicorn==22.0.0
kp-registry==4.0.1
opentelemetry-sdk==1.26.0
opentelemetry-instrumentation-fastapi==0.47b0
opentelemetry-exporter-jaeger==1.21.0
opentelemetry-instrumentation-httpx==0.47b0
pyinstrument==4.6.2
