fakeredis==1.4.5
codecov==2.1.7
pylint==2.6.0
pytest==5.4.3
pytest-asyncio==0.14.0
pytest-cov==2.10.0
git+git://github.com/TranslatorIIPrototypes/kp_registry@v1.0
git+git://github.com/ranking-agent/simple-kp@category-lists
git+git://github.com/patrickkwang/small-kg@main
git+git://github.com/patrickkwang/asgiar@main
