aiofiles==0.6.0
aiosqlite==0.16.0
aiostream==0.4.3
anyio==3.3.2
bmt-lite-2.2.5==2.2.0
certifi==2021.5.30
click==7.1.2
fastapi==0.65.2
h11==0.12.0
httpcore==0.13.7
httpx==0.18.2
idna==3.2
jsonpickle==1.4.2
numpy==1.20.3
orjson==3.6.0
pydantic==1.8.2
python-dotenv==0.17.0
PyYAML==5.4
reasoner-pydantic @ git+git://github.com/TranslatorSRI/reasoner-pydantic@616854fca23223ce3e3f42d752b7dcbf58091042
redis==3.5.3
rfc3986==1.5.0
sniffio==1.2.0
starlette==0.14.2
typing-extensions==3.10.0.2
uvicorn==0.13.4
yappi==1.3.2
