aiosqlite==0.16.0
aiofiles==0.6.0
redis==3.5.3

# BMT + dependencies
bmt-lite-1.8.2==1.0.2

httpx==0.18.2
numpy==1.20.3
pyyaml==5.4
uvicorn==0.13.4
jsonpickle==1.4.2
python-dotenv==0.17.0
fastapi==0.65.2
reasoner-pydantic==1.1.2.1

asgiar==0.2.0
fakeredis==1.5.0
kp-registry @ git+git://github.com/ranking-agent/kp_registry@v2.2.0
pytest==6.2.4
pytest-asyncio==0.15.1
pytest-cov==2.12.1
binder @ git+git://github.com/TranslatorSRI/binder@v4.0.1
trapi-throttle @ git+git://github.com/ranking-agent/trapi-throttle@v1.0.0
