aiofiles==0.6.0
aiosqlite==0.13.0
antlr4-python3-runtime==4.9.2
asgiar==0.1.0
attrs==21.2.0
biolinkml==1.7.6
bmt==0.5.0
cachetools==4.2.2
certifi==2020.12.5
CFGraph==0.2.1
chardet==4.0.0
click==7.1.2
deprecation==2.1.0
fakeredis==1.5.0
fastapi @ git+git://github.com/patrickkwang/fastapi@a6cee833c3b97f81d0d642d2c0471a767a12b9ca
frozendict==2.0.2
graphviz==0.16
h11==0.12.0
hbreader==0.9.1
httpcore==0.12.3
httpx==0.16.1
idna==2.10
iniconfig==1.1.1
isodate==0.6.0
jsonasobj==1.3.1
jsonpickle==1.4.2
jsonschema==3.2.0
kp-registry @ git+git://github.com/TranslatorIIPrototypes/kp_registry@8c463aa346d3bda2278c3357b78ed281c588d08f
lxml==4.6.3
numpy==1.20.3
packaging==20.9
parse==1.19.0
pbr==5.6.0
pluggy==0.13.1
prefixcommons==0.1.9
prologterms==0.0.6
py==1.10.0
pydantic==1.8.2
PyJSG==0.11.6
PyLD==2.0.3
pyparsing==2.4.7
pyrsistent==0.17.3
PyShEx==0.7.20
PyShExC==0.8.3
pytest==6.2.4
pytest-asyncio==0.15.1
python-dotenv==0.17.0
PyYAML==5.4
rdflib==5.0.0
rdflib-jsonld==0.5.0
rdflib-pyld-compat==0.1.0
reasoner-pydantic==1.1.1
redis==3.5.3
requests==2.25.1
rfc3986==1.5.0
ShExJSG==0.7.1
simple-kp @ git+git://github.com/ranking-agent/simple-kp@5885dd59e4b0ca1dd35773c287b8a5464ba2c8ab
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
sparqlslurper==0.4.1
SPARQLWrapper==1.8.5
starlette==0.13.6
stringcase==1.2.0
testfixtures==6.17.1
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.5
uvicorn==0.13.4
watchdog==2.1.2
