aiosqlite==0.16.0
aiostream==0.4.3
aiofiles==0.6.0
redis==3.5.3

# BMT + dependencies
bmt-lite-2.2.5==2.2.0

httpx==0.18.2
numpy==1.21.0
pyyaml==5.4
uvicorn[standard]==0.14.0
jsonpickle==1.4.2
python-dotenv==0.17.0
fastapi==0.65.2
reasoner-pydantic==2.2.2
orjson==3.6.0
yappi==1.3.2
gunicorn==20.1.0
