aiofiles==0.6.0
aiosqlite==0.16.0
aiostream==0.4.3
anyio==3.3.4
asgiar==0.2.0
attrs==21.2.0
binder @ git+https://github.com/TranslatorSRI/binder@703b9edb4286fc1bf15c82807f0b23c95679f25d
bmt-lite-2.1.0==2.2.0
bmt-lite-2.2.5==2.2.0
certifi==2021.10.8
click==7.1.2
coverage==6.1.1
fakeredis==1.5.0
fastapi==0.65.2
h11==0.12.0
httpcore==0.13.7
httpx==0.18.2
idna==3.3
iniconfig==1.1.1
jsonpickle==1.4.2
kp-registry @ git+https://github.com/ranking-agent/kp_registry@f55bde83e3c3c0921d8c724a6c5dd55341a2bf4a
numpy==1.20.3
orjson==3.6.0
packaging==21.2
pluggy==0.13.1
py==1.10.0
pydantic==1.8.2
pyparsing==2.4.7
pytest==6.2.4
pytest-asyncio==0.15.1
pytest-cov==2.12.1
python-dotenv==0.17.0
PyYAML==5.4
reasoner-pydantic==2.1.0
redis==3.5.3
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
starlette==0.14.2
toml==0.10.2
tqdm==4.62.3
typing-extensions==3.10.0.2
uvicorn==0.13.4
