aiofiles==0.6.0
aiosqlite==0.16.0
anyio==3.3.0
bmt-lite-2.1.0==2.1.1
certifi==2021.5.30
click==7.1.2
fastapi==0.65.2
h11==0.12.0
httpcore==0.13.6
httpx==0.18.2
idna==3.2
jsonpickle==1.4.2
numpy==1.20.3
orjson==3.6.0
pydantic==1.8.2
python-dotenv==0.17.0
PyYAML==5.4
reasoner-pydantic==1.1.2.1
redis==3.5.3
rfc3986==1.5.0
sniffio==1.2.0
starlette==0.14.2
trapi-throttle @ git+git://github.com/ranking-agent/trapi-throttle@ce9c92b6b434d2ece233640608ea14615a0cec3c
typing-extensions==3.10.0.0
uvicorn==0.13.4
